@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

* {
  font-family: "Quicksand"
}

html {
  scroll-behavior: smooth !important;
}


/* .menu-sidebar {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: initial;
  justify-content: space-around;
  width: 100%;
} */

/* .sidebar {
  height: 100%;
  width: 150px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  margin-left: 25%;
  background-color: #f5f5dc;
  padding-top: 40px;
} */

div .sidebar {
  padding: 8px;
  font-size: 24px;
  display: block;
  height: 100%;
  width: 150px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  margin-left: 25%;
  background-color: #f5f5dc;
  padding-top: 40px;
}


.a {
  margin-top: 15px;
  padding: 0 5px;
  display: block; 
  color: rgb(218, 101, 71);
  font-weight: bold;
  text-decoration: none;
}

.a:hover {
  color: rgb(136, 136, 136);
}


.container-content {
  display: flex;
  max-width: 600px;
  margin: 40px;
  padding: 20px;
  color: rgb(112, 112, 112)
}
.h1 {
  display: flex;
  text-align: left;
  font-weight: bold;
}



/* 

className = { style.class }

className={`${style.class} ${style.class2}`} */