@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

* {
  font-family: "Quicksand"
}

html {
  scroll-behavior: smooth !important;
}

.sidebarWrapper {
  position: fixed;
}
.sidebar {
  padding: 1rem;
  background-color: rgb(255, 239, 226);
  margin-bottom: 1rem;
}

.sidebar .row {
  padding: 1rem;
}

.a {
  margin-top: 15px;
  padding: 0 5px;
  display: block; 
  color: rgb(136, 136, 136);
  font-weight: bold;
  text-decoration: none;
}

.a:hover {
  color: rgb(218, 101, 71);
}


.container-content {
  position: sticky;
  display: flex;
  max-width: 600px;
  margin: 40px;
  padding: 1rem;
  color: rgb(112, 112, 112)
}
.h1 {
  display: flex;
  text-align: left;
  font-weight: 500;
}

p {
  color: #707070
}

/* 

className = { style.class }

className={`${style.class} ${style.class2}`} */