.addBtn:focus, .addBtn:active,
.removeButton:focus, .removeButton:active,
.btnCustom:focus, .btnCustom:active {
    box-shadow: none !important;
    outline: none !important;
}

.btnCustom {
  background-color: #878f96;
  border: 1px solid #878f96;
  pointer-events: none;
  cursor: none;
}

.btnsWidth {
  height: 100%;
  width: 100%;
  padding: .2rem 0;
}

@media screen and (min-width: 355px) {
  .btnsWidth {
    padding: .3rem 0;
  }
}

@media screen and (min-width: 385px) {
  .btnsWidth {
    padding: .4rem 0;
  }
}

@media screen and (min-width: 420px) {
  .btnsWidth {
    padding: .3rem .3rem;
  }
}