/* .carCard {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid darkgrey 1px;
    border-radius: .25em;
}

.carImg {
    max-width: 400px;
}

.desc {
    align-content: space-between;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.carCard img {
    cursor: pointer;
}

.bottomRight {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.addButton {
    background: #2C7CAE !important;
    color: #ffffff !important;
    border: none;
} */

@media screen and (min-width: 500px) {
    .carCard {
      flex-direction: row;
      margin-bottom: 0px;
    }
}

.carCard p:first-letter {
    text-transform: capitalize;
}
.carCard .desc::after {
    content: ""
}

.carClick {
    cursor: pointer;
}

.disabled, .disabled:hover, .disabled:active, .disabled:focus, .disabled:hover:active {
    background-color: #878f96;
    border: none;
    outline: none;
    cursor: initial;
    box-shadow: none;
}


/* ------------ susanne test --------------- */
.carCard {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 25px;
    margin-left: 0px;
    border: solid rgb(220, 220, 220) 1px;
    border-radius: .25em;
    width: 270px;
    box-shadow: 2px 2px 2px #d2d2d2;
    padding:0;
}

.carImg {
    width: 270px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.carHeading {
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #2C7CAE!important;
    font-size: 1.09rem;
}

.carCard img {
    cursor: pointer;
}

.desc {
    align-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 1rem;
}

.bottomRight {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.addButton {
    background: #2C7CAE !important;
    color: #ffffff !important;
    border: none;
    margin-right: 10px;
    margin-top: 10px;;
}

.addButton:hover {
    background: #295276 !important;
    color: #ffffff !important;
    border: none;
}

.removeButton {
    background: #DA6547 !important;
    color: #ffffff !important;
    border: none;
}

.removeButton:hover {
    background: #a04832 !important;
    color: #ffffff !important;
    border: none;
}


.boldText {
    font-weight: 600;
    color: #1f1f1f !important;
}

.hrCard {
    background-color: #ffffff;
	border-top: 1px solid #656565;
    width: 245px;
    text-align: center;
    margin-left: 10px;
}