.carCard {
    padding: .3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: .25em;
    border: solid rgb(227, 227, 227) 1px !important;
    cursor: pointer;
    box-shadow: 2px 2px 2px #eeeeee;
    margin-top: 10px;
    background-color: rgb(252, 252, 252);
    /* background-color: #fcfbfb !important; */
}

.infoRow {
    width: 60%;
    padding-left: .6rem;
    display: flex;
    flex-direction: column;
}

.cardTitle {
    color: #2C7CAE!important;
    font-size: .9rem;
    margin-bottom: 0;
}

.boldText{ 
    font-weight: 600;
    color: #1f1f1f !important;
    margin-bottom: 0;
}

.carDetailText {
    display: flex;
    font-size: .85rem;
    margin-bottom: 0;
    margin-top: .1rem;
}

.hrCard {
    background-color: #ffffff;
	border-top: 1px solid #656565;
    width: 100%;
    line-height: 0;
    margin: .1rem 0 .1rem 0;
    text-align: center;
}

.priceWrapper {
    width: 35%;
    align-items: center;
    justify-content: center;
}

.cardBtns {
    outline: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: auto;
}

.yearLabel {
    margin-left: 0;
}

.largePrice {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    font-size: 1.23rem;
}

.milesLabel {
    margin-left: .2rem;
}

.milesWrapper {
    display: none;
}

.cardPrice {
    font-size: 1.5rem;
    position: relative;
    top: 5px;
}

.addButton, .removeButton, .btnCustom {
    font-weight: 500;
    margin-left: auto;
  }

.btnsWidth {
    font-size: .8rem;
    padding: .2rem .3rem;
    width: 50%;
}

.btnsWidth:focus, .btnsWidth:active {
    box-shadow: none !important;
    outline: none !important;
}

.btnCustom {
    background-color: #878f96;
    pointer-events: none;
    cursor: none;
    color: white;
    border: none;
}

.addButton {
    background: #2C7CAE !important;
    color: #ffffff !important;
    border: 1px solid #2C7CAE;
}

.addButton:hover {
    background: #295276 !important;
    color: #ffffff !important;
    border: 1px solid #295276;
}

.removeButton {
    background: #DA6547 !important;
    color: #ffffff !important;
    border: 1px solid #DA6547;
}

.removeButton:hover {
    background: #DA6547 !important;
    color: #ffffff !important;
    border: 1px solid #DA6547;
}

.topRow {
    display: flex;
}

.buyRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* background-color: rgb(235, 235, 235); */
}

.cardDesc {
    display: none;
    font-size: .9rem;
    line-height: 1.2;
    margin-top: .2rem;
    height: 60px;
}

.imgWrapper {
    width: 40%;
}

.carImg {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media screen and (min-width: 350px) {
    .cardBtns {
        padding: .1rem;
    }
    .cardTitle {
        font-size: 1.1rem;
        margin-bottom: .05rem;
    }
    .btnsWidth {
        font-size: .9rem;
    }
    .carDetailText {
        font-size: .9rem;
    }
    .largePrice {
        padding-bottom: .1rem;
        font-size: 1.5rem;
        line-height: 0;
    }
    .imgWrapper {
        width: 37%;
    }
    .infoRow {
        width: 63%;
    }
}

@media screen and (min-width: 420px) {
    .cardTitle {
        font-size: 1.3rem;
    }
    .carDetailText {
        font-size: 1rem;
    }
    .cardBtns {
        max-height: initial;
    }
    .btnsWidth {
        max-height: 35px;
        width: 53%;
        font-size: .9rem;
    }
    .largePrice {
        font-size: 1.65rem;
        width: 45%;
    }
}

@media screen and (min-width: 460px) {
    .imgWrapper {
        width: 35%;
    }
    .infoRow {
        width: 65%;
    }
    .cardTitle {
        font-size: 1.4rem;
    }
    .carDetailText {
        font-size: 1rem;
    }
    .cardBtns {
        margin-top: auto;
    }
    .hrCard {
        margin: .4rem 0 0rem 0;
    }
}

@media screen and (min-width: 500px) {
    .cardTitle {
        color: #2C7CAE!important;
        font-size: 1.25rem;
        margin-top: .3rem;
    }
    .carDetailText {
        font-size: 1rem;
    }
    .milesLabel {
        margin-left: .7rem;
    }
    .cardBtns {
        margin-top: .1rem;
    }
    .carImg {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    .carCard {
        flex-direction: column;
        justify-content: space-between;
    }
    .topRow {
        flex-direction: column;
    }
    .infoRow {
        padding: 0 .2rem;
        width: 100%;
    }
    .imgWrapper {
        width: 100%;
    }

    .buyRow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        /* background-color: rgb(235, 235, 235); */
    }   
}

@media screen and (min-width: 600px) {
    .cardTitle {
        font-size: 1rem;
        margin-bottom: .1rem;
    }
    .carDetailText {
        font-size: .95rem;
    }
    .largePrice {
        font-size: 1.25rem;
    }
    .btnsWidth {
        font-size: .8rem;
        padding-top: .13rem;
        padding-bottom: .13rem;
    }
}

@media screen and (min-width: 700px) {
    .cardTitle {
        font-size: 1.15rem;
    }
    .cardDesc {
        display: initial;
    }
    .largePrice {
       
        font-size: 1.5rem;
    }
    .milesWrapper {
        display: initial;
    }
    .btnsWidth {
        font-size: .9rem;
        padding-top: .15rem;
        padding-bottom: .15rem;
    }
}

@media screen and (min-width: 770px) {
    .infoRow {
        padding: .3rem;
    }
    .cardTitle {
        font-size: 1.25rem;
    }
    .largePrice {
        line-height: 1.1;
        font-size: 1.7rem;
    }
    .cardDesc {
        font-size: .95rem;
    }
    .cardBtns {
        padding-bottom: .2rem;
    }
}

@media screen and (min-width: 880px) {
    .largePrice {
        font-size: 1.9rem;
    }
    .btnsWidth {
        font-size: 1rem;
        padding: .3rem .3rem;
    }
}
