.carCard {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid darkgrey 1px;
    border-radius: .25em;
}

.carImg {
    max-width: 400px;
}

.desc {
    align-content: space-between;
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.carCard img {
    cursor: pointer;
}

.bottomRight {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.customAddBtn {
    min-width: 115px;
    color: white;
    background-color: #2C7CAE;
}

.customAddBtn:hover {
    color: white;
    background-color: #295276;
}

.customRemoveBtn {
    min-width: 115px;
    background-color:#DA6547;
    color: white;
}

.customRemoveBtn:hover {
    color: white;
    background-color: #c56148;
}

@media screen and (min-width: 500px) {
    .carCard {
      flex-direction: row;
      margin-bottom: 0px;
    }
}



.carCard p:first-letter {
    text-transform: capitalize;
}
.carCard .desc::after {
    content: "."
}

.carClick {
    cursor: pointer;
}

.disabled, .disabled:hover, .disabled:active, .disabled:focus, .disabled:hover:active {
    min-width: 115px;
    background-color: #878f96;
    border: none;
    outline: none;
    cursor: initial;
    box-shadow: none;
}