.noResult {
    position: absolute;
    text-align: center;
    font-size: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4rem;
    margin-top: 2rem;
}

.carsContainer {
    width: 100%;
    max-width: 900px;
    display: grid;
    gap: .4rem;
    /* grid-auto-rows: 1fr; */
    grid-template-columns: 1fr;
    flex-wrap: wrap;
}

@media screen and (min-width: 420px) {
    .carsContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 600px) {
    .carsContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 850px) {
    .carsContainer {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
