h1{
    text-align: center;
}

input{
    margin-bottom: 1rem;
}

.shoppinglist{
    width: 100%;
    border: 1px solid black;
    margin: 2rem auto;
}

.info{
    border: 1px solid black;
}

.payment{
    border: 1px solid black;
}

.radioButton{
    margin-right: 1rem;
}