body {
    overflow-x: hidden;
}

h1{
    text-align: center;
}

input{
    margin-bottom: 1rem;
}

.mainHeading {
    font-size: 1.8rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #2C7CAE !important;
    margin-top: 20px;
}

.smallerHeading {
    font-size: 1.4rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #2C7CAE !important;
    margin-top: 0.7rem;
    margin-bottom: 12px;
    
}

.background{
    background: #f4f4f4;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #d2d2d2;
}

.shoppinglist{
    width: 100%;
    margin: 1rem auto;

}

.shoppingCartCard{
    background-color: #fcfcfc;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 3px;
    margin: 0rem 0rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 2px 2px 2px #8d8d8d;
    cursor: pointer;
}

.itemPrice{
    font-weight: bold;
    font-size: 1.1rem;
    margin: 1rem 0;
}

.removeButton{
    color: white;
    background-color: #DA6547;
    padding: 5px 12px;
    border-radius: 5px;
}

.removeButton:hover{
    cursor: pointer;
    background-color: #be5b42;
}

.deliveryDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* div.customSelect, .select {
    height: 35px;
} */

.deliveryPrice{
    text-align: end;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 0.7rem 0;
}

.itemTotalDiv{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 1rem;
}

.itemTotalDiv h3{
    margin-bottom: 0;
}

.payment{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cardInfo{
    background-color: peachpuff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
}

.orderButton{
    min-width: 50%;
    color: white !important;
    background: #2C7CAE !important;
    border: none;
}

.orderButton:hover {
    background-color:#295276 !important;
   
}

.radioButton{
    margin-right: 1rem;
}

.flexer{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 400px){
    .deliveryDiv{
        flex-direction: row;
        align-items: center;
    }
    div.customSelect {
        width: calc(45% + 16vw) !important;
    }
}

@media only screen and (max-width: 575px) {
    .itemPrice{
        font-size: 1.5rem;
        margin-top: 0;
        margin-bottom: 1.2rem;
        margin-left: 2rem;
    }

    .positionFix{
        position: absolute;
        bottom: 1rem;
        right: 1rem;
    }

    .itemPriceDiv{
        justify-content: initial;
    }

    .expirationDate{
        font-size: calc(0.5rem + 1.4vw);
    }
}

@media only screen and (min-width: 576px){
    .itemTotalDiv{
        flex-direction: row;
        justify-content: space-between;
    }

    .ithr{
        display: none;
    }

    .deliveryDiv{
        margin-bottom: 1.8rem;
        align-items: center;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px){
    .paddingFix{
        padding-right: 0;
    }
}

@media only screen and (max-width: 767px){
    .info{
        margin-bottom: 1rem;
    }

    .itemPrice{
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 768px){
    .gutterFix{
        width: 49%;
    }
}