body {
    overflow-x: hidden;
}

h1{
    text-align: center;
}

input{
    margin-bottom: 1rem;
}

select{
    width: 100%;
    height: 35px;
}

.mainHeading {
    font-size: 1.8rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #2C7CAE !important;
    margin-top: 20px;
}

.smallerHeading {
    font-size: 1.4rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #2C7CAE !important;
    margin-top: 0;
    margin-bottom: 12px;
    
}

.background{
    background: #f4f4f4;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #d2d2d2;
}

.shoppinglist{
    width: 100%;
    margin: 1rem auto;

}

.shoppingCartCard{
    background-color: #fcfcfc;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 3px;
    margin: 1rem 0.5rem;
    box-shadow: 2px 2px 2px #8d8d8d;
}

.itemPrice{
    font-weight: bold;
    font-size: 1.1rem;
}

.removeButton{
    color: white;
    background-color: rgb(255, 41, 41);
    padding: 5px 12px;
    border-radius: 3px;
}

.removeButton:hover{
    cursor: pointer;
    background-color: rgb(194, 0, 0);
}

.deliveryPrice{
    text-align: end;
    font-weight: bold;
    font-size: 1.4rem;
}

.payment{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.cardInfo{
    background-color: peachpuff;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem;
}

.orderButton{
    min-width: 50%;
    color: white !important;
    background: #2C7CAE !important;
    border: none;
}

.orderButton:hover {
    background-color:#295276 !important;
   
}

.radioButton{
    margin-right: 1rem;
}

.flexer{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 575px) {
    .itemPrice{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 767px){
    .info{
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 768px){
    .gutterFix{
        width: 49%;
    }
}