@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

hr {
    background-color: #ffffff;
	border-top: 1px solid #656565;
    
}

.mainHeading {
    font-size: 1.8rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #2C7CAE !important;
}

.smallerHeading {
    font-size: 1.4rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #2C7CAE !important;
    margin-top: 0;
    margin-bottom: 12px;
    
}

.smallHeading {
    color: #2C7CAE !important;
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    margin-bottom: 12px;
    margin-top: 25px;
}

.container {
    margin-left: 25% !important;
}

.confirmationBoxLeft {
    background-color: #f4f4f4 !important;
    padding: 30px;
    margin-top: 20px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    box-shadow: 2px 2px 2px #d2d2d2;
}

.confirmationBoxRight {
    background-color: #f4f4f4 !important;
    padding: 30px;
    margin-top: 20px;
    position: relative;
    box-shadow: 2px 2px 2px #d2d2d2;
}

.confirmationHeading {
    margin-top: 30px;
}

.boldSummary {
    font-weight: bold;
    color: #4b4b4b !important;
    
}

.backButton{
    margin-left: 10px !important;
    background: #2C7CAE !important;
    border: none;
}

.backButton:hover {
    background-color:#295276 !important;
   
}

.printButton {
    background: #DA6547 !important;
    color: #ffffff !important;
    border: none;
    margin-left: 10px !important;
}

.printButtonFirst {
    background: #DA6547 !important;
    color: #ffffff !important;
    border: none;
}

.printButton:hover {
    background: #9b4732 !important;
    color: #ffffff !important;
    border: none;
}

.containerText {
    line-height: 1.7;
    color: #303030 !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;   
}

.containerTextLast {
    line-height: 1.7;
    margin-bottom: 40px;
    color: #303030 !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.textOrderNumber {
    color: #303030;
}

@media print {
    @page {
      size: landscape;
    }

    footer * {
        visibility: hidden !important;
        display: none !important;
    }

    nav * {
      visibility: hidden;
    }

    aside {
        visibility: hidden;
    }

    .toPrint, .toPrint * {
      visibility: visible;
    }
    .toPrint {
      position: absolute;
      display: block;
      left: 0;
      top: 0;
    }

    .mainHeading {
        font-size: 1.5rem;
    }
    
    .smallerHeading {
        font-size: 1.2rem;        
    }
    
    .smallHeading {
        font-size: 1rem;
    }

    .containerText {
        font-size: 0.7rem;
    }

    .containerTextLast {
        font-size: 0.7rem;
    }

    .backButton{
      visibility: hidden;
    }

    .printButton {
      visibility: hidden;
    }

    .printButtonFirst {
      visibility: hidden;
    }
  }

  @media only screen and (min-width: 320px) and (max-width: 575px) {

    .row {
        margin-top: 100px !important;
        padding-top: 0 !important;
    }

    .container {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }

    body {
        padding-top: 105px;
      }
    
    .mainHeading {
        font-size: 1.5rem;
    }  

    .confirmationBoxLeft {
        background-color: #f4f4f4 !important;
        border-radius: none;
        padding-bottom: 0;  
    }
    
    .confirmationBoxRight {
        background-color: #f4f4f4 !important;
        border-radius: none;
        padding-top: 0;
        margin-top: 0 !important;
    }

    .containerText {
        line-height: 1.6;
        font-size: 1rem;
    }
    
    .containerTextLast {
        line-height: 1.6;
        font-size: 1rem;
    }

    .smallerHeading {
        font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: 10px;
        padding-top: 0;
    }
    
    .smallHeading {
        color: #2C7CAE !important;
        font-size: 1.1rem;
        margin-top: 25px;
        margin-bottom: 5px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

    .confirmationBoxLeft {
        background-color: #f4f4f4 !important;
        padding-bottom: 0;
        border-radius: none;
    }
    
    .confirmationBoxRight {
        background-color: #f4f4f4 !important;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .containerText {
        line-height: 1.6;
        font-size: .95rem;
    }
    
    .containerTextLast {
        line-height: 1.6;
        font-size: .95rem;
    }

    .smallerHeading {
        font-size: 1.2rem;
        margin-top: 0;
        margin-bottom: 10px;
        
    }
    
    .smallHeading {
        color: #2C7CAE !important;
        font-size: 1.1rem;
        margin-top: 25px;
        margin-bottom: 5px;
    }
}

@media only screen and (min-width: 768px) {
    body {
        padding-top: 115px;
      }

    .confirmationBoxRight {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
}