@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

hr {
    background-color: #ffffff;
	border-top: 1px dotted #303030;
    
}

.mainHeading {
    font-size: 1.8rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #2C7CAE !important;
    margin-top: 15px;
}

.smallerHeading {
    font-size: 1.4rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #2C7CAE !important;
    margin-top: 0;
    margin-bottom: 12px;
    
}

.smallHeading {
    color: #2C7CAE !important;
    font-size: 1.2rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    margin-bottom: 12px;
    margin-top: 25px;
}

.container {
    margin-left: 25% !important;
}

.confirmationBox {
    background-color: #EBF5F2 !important;
    padding: 30px;
    margin-top: 20px;
    border-radius: 5px;
    position: relative;
    box-shadow: 2px 2px 2px #d2d2d2;
}

.confirmationHeading {
    margin-top: 30px;
}

.backButton{
    margin-right: 10px !important;
    background: #2C7CAE !important;
    border: none;
}

.printButton {
    background: #DA6547 !important;
    color: #ffffff !important;
    border: none;
}

.containerText {
    line-height: .8;
    color: #303030 !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.containerTextLast {
    line-height: .7;
    margin-bottom: 50px;
    color: #303030 !important;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}