.h1{
    margin-bottom: 1.8rem;
}

.registerButton{
    display: block;
    margin: 1.8rem auto;
    min-width: 120px;
}

.registerContainer{
    padding: 1em ;
    background: #f4f4f4;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #d2d2d2;
    padding: 1.5rem 1.5rem;
    width: 95%;
}

.registerContainer input {
    background-color: rgb(252, 252, 252);
}

.spaceAround{
    display: flex;
    justify-content: space-evenly;
}

.errorBorder{
    box-shadow: 0 0 0 3px rgb(255, 122, 122);
}

.errorText{
    color: red !important;
    position: absolute;
    top: 62px;
    font-size: 0.8rem;
}

.positionRelative{
    position: relative;
    margin-bottom: 1.2rem;
}

.marginFix{
    margin-top: -10px;
}

@media only screen and (min-width: 576px){
    .registerContainer{
        width: 48%;
    }

    .marginFix{
        margin: 0;
    }
}