.h1{
    margin-bottom: 1.8rem;
    font-weight: 500;
}

.registerButton{
    display: block;
    color: white !important;
    background: #2C7CAE !important;
    border: none;
    margin: 1.8rem auto;
    min-width: 120px;
}

.registerButton:hover {
    background-color:#295276 !important;
   
}

.registerContainer{
    padding: 1em ;
    background: #f4f4f4;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #d2d2d2;
    padding: 1.5rem 1rem;
}

.spaceAround{
    display: flex;
    justify-content: space-evenly;
}

.errorBorder{
    box-shadow: 0 0 0 3px rgb(255, 122, 122);
}

.errorText{
    color: red !important;
    position: absolute;
    top: 62px;
    font-size: 0.8rem;
}

.positionRelative{
    position: relative;
    margin-bottom: 1.2rem;
}

@media only screen and (min-width: 576px){
    .registerContainer{
        width: 48%;
    }
}