.details {
    margin-top: 2rem;
    padding: 2rem;
    border: #eee 2px solid;
    border-radius: 5px;
}
.buy {
    background: #eee;
    padding: 2rem;
    margin: .5rem auto;
    margin-right: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #d2d2d2;
}
.imageWrapper {
    margin: .5rem 1rem;
    border-radius: 5px;
    padding: 0;
    box-shadow: 2px 2px 2px #d2d2d2;
}
.imageWrapper img {
    width: 100%;
    border-radius: 5px;
    margin: 0;
}
.price {
    margin: 2rem 0 1rem;
}
.details ul {
    list-style-type: none;
    margin-top: 1rem;
    padding: 0;
}
.details li {
    font-size: 1.2rem;
}