.footer {
    margin-top: 50px;
    background-color: #2C7CAE;
    width: 100vw;
    font-size: .8rem;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
}
.navlink {
    font-size: 1rem;
}
.link, .navlink {
    text-decoration: none;
    color:#E9f2f4 !important;
}
.link:hover, .navlink:hover {
    color:#7ECEFD !important;
}
.footer p {
    margin-top: .5rem;
    margin-bottom: 0;
    color: #E9f2f4 !important;
}
.socialmedia img {
    width: 30px;
    margin-bottom: 1.5rem;
    display: block;
}