.footer {
    margin-top: 50px;
    background-color: lightgrey;
    width: 100vw;
    font-size: .7rem;
    padding: 1.5rem 2rem;
    display: flex;
    justify-content: space-between;
}
.navlink {
    font-size: 1rem;
}
.link, .navlink {
    text-decoration: none;
    color: rgb(37, 37, 37);
}
.link:hover, .navlink:hover {
    color:rgb(122, 122, 122);
}
.footer p {
    margin-top: .5rem;
    margin-bottom: 0;
}
.socialmedia img {
    width: 30px;
    margin-bottom: 1.5rem;
    display: block;
}