.hero{
    background-color: lightgrey;
    background-image: url(https://images.unsplash.com/photo-1524345591067-da3f166c0e42?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    margin-top: -25px;
}

.heroCenterDiv{
    background-color: rgba(0, 0, 0, 0.705);
    height: 100%;
    max-width: calc(900px - 1rem);
    margin: 0 auto;
    padding: 1rem;
}

.h1{
    color: white !important;
    text-align: left;
    font-size: 1.5rem
}

.p{
    color: white !important;
    font-size: 0.8rem;
}

.gradient{
    position: relative;
    width: 100%;
    height: 100%;
}

.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel{
    width: 90%;
    margin: 0 auto;
}

@media only screen and (min-width: 400px){
    .carousel{
        width: 80%;
    }
}

@media only screen and (min-width: 480px){
    .carousel{
        width: 70%;
    }
}

@media only screen and (min-width: 550px){
    .carousel{
        width: 60%;
    }
}

@media only screen and (min-width: 720px) {
    .h1{
        font-size: calc(1rem + 1vw);
    }

    .p{
        font-size: calc(0.5rem + 1vw);
    }

    .flexCenter{
        flex-direction: row !important;
    }

    .carousel{
        width: 56%;
    }
}

@media only screen and (min-width: 768px) {
    .carousel{
        width: 100%;
    }

    .h1{
        font-size: 1.8rem;
    }

    .p{
        font-size: 1rem;
    }
}

@media only screen and (min-width: 840px) {
    .h1{
        font-size: 2.1rem;
    }

    .p{
        font-size: 1rem;
    }

    .carousel{
        width: 100%;
    }
}