.hero{
    background-color: lightgrey;
    background-image: url(https://images.unsplash.com/photo-1524345591067-da3f166c0e42?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1267&q=80);
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 100%;
    margin-top: -25px;
}

.heroCenterDiv{
    background-color: rgba(0, 0, 0, 0.705);
    height: 100%;
    max-width: calc(900px - 1rem);
    margin: 0 auto;
    padding: 1rem;
}

.h1{
    color: white !important;
    text-align: left;
    font-size: 1.8rem
}

.p{
    color: white !important;
    font-size: 0.9rem;
}

.gradient{
    position: relative;
    width: 100%;
    height: 100%;
}

.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carousel{
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.noPadding {
    padding: 0;
}

.saleSign{
    width: 80px;
    position: absolute;
    top: -12px;
    left: -25px;
    transform: rotate(349deg);
}

@media only screen and (min-width: 400px){
    .hero{
        height: 480px;
    }
}

@media only screen and (min-width: 500px){
    .saleSign {
        width: 100px;
        top: -15px;
    }

    .hero{
        height: 520px;
    }
}
@media only screen and (min-width: 600px){
    .hero{
        height: 560px;
    }
}

@media only screen and (min-width: 720px) {
    .hero{
        height: 600px;
    }
    .saleSign {
        width: 120px;
    }

    .flexCenter{
        flex-direction: row !important;
    }
}

@media only screen and (min-width: 768px) {
    .hero{
        height: 400px;
    }

    .h1{
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 840px) {
    .h1{
        font-size: 2.2rem;
    }
}