.h2{
    color: #2C7CAE;
    text-align: center;
    margin: 1rem auto;
}

.cover{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.658);
    z-index: 2001;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginDiv{
    position: relative;
    background-color: #f4f4f4;
    padding: 1rem;
    min-width: 300px;
    max-width: 600px;
    width: 100%;
    min-height: 30%;
    max-height: 400px;
    border-radius: 3px;
}

.closeButton{
    width: 34px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.closeButton:hover div{
    background-color:  #DA6547;
}

.xbar1, .xbar2{
    position: absolute;
    top: 13px;
    background-color: #1f1f1f;
    width: 36px;
    height: 4px;
    transform: rotate(45deg);
}

.xbar2{
    transform: rotate(-45deg);
}

.inputDiv{
    min-width: 280px;
    width: 70%;
    margin: 0 auto;
}

.input{
    display: block;
}

.button{
    display: block;
    min-width: 90px;
    margin: 2rem auto 2rem auto;
    background-color: #2C7CAE;
    color: white;
}

.button:hover {
    background-color: #295276;
    color: white;
}

.a{
    text-decoration: none;
    color: #2C7CAE !important;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 0.8rem auto 0.8rem auto;
}