.detailsModalWrapper {
  position: relative;
  text-align: center;
  top: 200px;
  left: 3rem;
  width: 600px;
  height: 300px;
  background-color: lightgrey;
}

.modal-title {
  margin: 0;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0, 4px;
}

.modal-content {
  background-color: whitesmoke;
  color: purple
}

@media screen and (max-width: 800px) {
  .row {
    flex:50%;
    max-width: 50%;
  }
}