.detailsModalWrapper {
  position: relative;
  text-align: center;
 
  width: 600px;
  height: 300px;
  background-color: lightgrey;
}

.detailsModalWrapper {
  display: block;
  margin: 0 auto;
  background-color: greenyellow;
}
.modal-title {
  margin: 0;
  text-align: left;
}

.row {
  width: 1000px;
  padding: 0, 4px;
}

#ModalTest .modal-footer {

  background-color: aqua;
  display: inline-block;
  text-align: left;

}
