.navContainer {
  top: 0;
  width: 100%;
  position: fixed;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.200);
}

.navbar {
  width: 100%;
  background-color: rgb(235, 245, 242);
  display: flex;
  padding: 1rem;
  align-items: center;
}

.cartIcon, .logo, .links {
  color: #333;
  text-decoration: none;
}

.cartIcon:hover, .logo:hover, .links:hover {
  color: #111;
}

.links {
  margin: 0 .5rem;
}

.navLinks {
  margin-left: 2rem;
  font-weight: bold;
  color: 
}

.active {
  text-decoration: underline;
}

.cartIcon {
  position: relative;
  margin-left: auto;
  margin-right: .5rem;
  width: 35px;
}

.cartIcon:active {
  transform: scale(1.05);
}

.img {
  width: 100%;
}

.cartNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7rem;
  font-weight: bold;
  border-radius: 4px;
  color: #eee;
  position: absolute;
  right: -4px;
  top: -6px;
  width: 21px;
  height: 20px;
  background: linear-gradient(183deg, rgb(107, 195, 219) 0%, rgb(22, 109, 117) 100%);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.08),
              inset 1px 1px 1px rgba(255, 255, 255, 0.25);
}

@keyframes updateAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.cartUpdate {
  animation-name: updateAnimation;
  animation-duration: .4s;
}

.infoBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: rgb(230, 230, 230);
  padding: .5rem 1rem;
}

.rrrrlogoImg {
  position: relative;
  margin-left: auto;
  margin-right: .5rem;
  width: 75px;
}

.acctContactImg {
  position: relative;
  margin-left: auto;
  margin-right: .5rem;
  width: 30px;
}

.acctContactImg.img {
  width: 100%;
}
