.navContainer {
  top: 0;
  width: 100%;
  position: fixed;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.200);
  z-index: 3000;
}

.navbar {
  width: 100%;
  background-color: #f4f4f4 !important;
  display: flex;
  padding: 1rem;
  align-items: center;
}

.cartIcon, .logo, .links {
  color: #333;
  text-decoration: none;
}

.cartIcon:hover, .logo:hover, .links:hover {
  color: #111;
}

.links {
  margin: 0 0.5rem;
  color: #2C7CAE !important;
}

.popupWrapper {
  animation-name: popup;
  animation-duration: .2s;
}

@keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.links:hover {
  color: #DA6547 !important;
}

.navLinks {
  margin-left: .5rem;
  font-weight: bold;
  font-size: .8rem;
}

.active {
  color: #DA6547 !important;
}

.img {
  width: 100%;
}

.cartNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7rem;
  font-weight: bold;
  border-radius: 4px;
  color: #eee;
  position: absolute;
  right: -4px;
  top: -6px;
  width: 21px;
  height: 20px;
  background: linear-gradient(183deg, rgb(107, 195, 219) 0%, rgb(22, 109, 117) 100%);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.08),
              inset 1px 1px 1px rgba(255, 255, 255, 0.25);
}

@keyframes updateAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.cartUpdate {
  animation-name: updateAnimation;
  animation-duration: .4s;
}

.leftWrapper {
  display: flex;
  align-items: center;
}

.infoBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #2C7CAE;
  padding: .5rem 1rem;
  color: #E9f2f4 !important;
}

.iconsWrapper {
  display: flex;
  align-items: center;
  width: 60px;
  justify-content: space-between;
  margin-left: auto;
}

.cartIconWrapper {
  position: relative;
  width: 45%;
  cursor: pointer;
}

.cartIcon:active {
  transform: scale(1.05);
}

.rrrrlogoImg {
  position: relative;
  margin-right: .5rem;
  width: 75px;
}

.acctContact {
  position: relative;
  width: 40%;
}

.acctContactImg {
  width: 100%;
}

@media screen and (min-width: 450px) {
  .navLinks {
    font-size: 1rem;
    margin-left: 1.5rem;
  }

  .iconsWrapper {
    width: 70px;
  }
}

