.navContainer {
  top: 0;
  width: 100%;
  position: fixed;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.200);
  z-index: 3000;
}

.navbar {
  width: 100%;
  background-color: #f4f4f4 !important;
  display: flex;
  padding: .6rem 1rem;
  align-items: center;
}

.cartIcon, .logo, .links {
  color: #333;
  text-decoration: none;
}

.cartIcon:hover, .logo:hover, .links:hover {
  color: #111;
}

.popupWrapper {
  animation-name: popup;
  animation-duration: .2s;
}

@keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hamburgerClickBox {
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
  z-index: 10;
}

.hamburgerWrapper {
  position: relative;
  cursor: pointer;
}

.hamburgerLine,
.hamburgerLine::before,
.hamburgerLine::after {
  cursor: pointer;
  position: absolute;
  height: 3px;
  width: 25px;
  background-color: #2C7CAE;
  transition: .4s;
}

.hamburgerLine::before {
  content: '';
  top: -7px;
}

.hamburgerLine::after {
  content: '';
  top: 7px;
}

.hamburgerLine.openBurger {
  width: 0;
}

.hamburgerLine.openBurger::before {
  transform: rotate(45deg);
  top: 0;
}

.hamburgerLine.openBurger::after {
  transform: rotate(-45deg);
  top: 0;
}

.links {
  margin: 1rem 0.5rem;
  transform: translateY(-20px);
  color: #2C7CAE !important;
}

.links:hover {
  color: #DA6547 !important;
}

.navLinks {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  left: -110%;
  top: 75px;
  width: 100vw;
  height: 90vh;
  margin-left: 0;
  font-weight: bold;
  font-size: 1rem;
  z-index: 2000;
  transition: .5s;
  background-color: #f4f4f4 !important;
}

.navLinks.slideIn {
  left: 0;
  opacity: 1;
}

.active {
  color: #DA6547 !important;
}

.img {
  width: 100%;
}

.cartNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .7rem;
  font-weight: bold;
  border-radius: 50px;
  color: #eee;
  position: absolute;
  left: 2px;
  top: -11px;
  width: 17px;
  height: 16px;
  background: linear-gradient(183deg, rgb(110, 175, 212) 0%, rgb(17, 128, 192) 100%);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.08),
              inset 1px 1px 1px rgba(255, 255, 255, 0.144);
}

@keyframes updateAnimation {
  0% {
    /* transform: scale(1); */
    /* top: -12px;
    width: 17px;
    height: 16px; */
  }
  50% {
    -webkit-backface-visibility: hidden;
    transform: scale(1.2);
    /* top: -13px;
    width: 19px;
    height: 18px; */
  }
  100% {
    /* transform: scale(1); */
    /* top: -12px;
    width: 17px;
    height: 16px; */
  }
}

.cartUpdate {
  animation-name: updateAnimation;
  animation-duration: .4s;
}

.leftWrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
}

.infoBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #2C7CAE;
  height: 15px;
  color: #E9f2f4 !important;
}

.cartShadow {
  position: absolute;
  pointer-events: none;
  top: 100px;
  left: -1rem;
  width: 120%;
  height: 40vh;
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0, 0, 0, 0.295) 50%);
}

.iconsWrapper {
  display: flex;
  align-items: center;
  width: 60px;
  justify-content: space-between;
  margin-left: auto;
}

.cartIconWrapper {
  position: relative;
  width: 45%;
  cursor: pointer;
}

.cartIcon:active {
  transform: scale(1.05);
}

.rrrrlogoImg {
  position: relative;
  margin-right: .5rem;
  width: 75px;
}

.acctContact {
  position: relative;
  width: 40%;
}

.acctContactImg {
  width: 100%;
}

@media screen and (min-width: 500px) {
  .navbar {
    padding: 1rem;
  }

  .cartNumber {
    top: -13px;
    left: 4px;
  }

  .cartShadow {
    display: none;
  }

  .navLinks {
    display:initial;
    background-color: initial;
    height: initial;
    width: initial;
    position: initial;
    transform: initial;
    transition: initial;
    font-weight: bold;
    margin-left: 1.5rem;
    font-size: 1rem;
  }

  .leftWrapper {
    left: 0;
    transform: initial;
  }

  .hamburgerWrapper {
    display: none;
  }

  .hamburgerClickBox {
    display: none;
  }

  .iconsWrapper {
    width: 70px;
  }
}

