.navContainer {
  top: 0;
  width: 100%;
  position: fixed;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.200);
  z-index: 3000;
}

.navbar {
  width: 100%;
  background-color: #f4f4f4 !important;
  display: flex;
  max-height: 65px;
  padding: .9rem 1rem;
  align-items: center;
}

.cartIcon, .logo, .links {
  color: #333;
  text-decoration: none;
}

.cartIcon:hover, .logo:hover, .links:hover {
  color: #111;
}

.popupWrapper {
  animation-name: popup;
  animation-duration: .2s;
}

@keyframes popup {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hamburgerClickBox {
  position: absolute;
  cursor: pointer;
  width: 25px;
  height: 25px;
  z-index: 10;
}

.hamburgerWrapper {
  position: relative;
  cursor: pointer;
}

.hamburgerLine,
.hamburgerLine::before,
.hamburgerLine::after {
  cursor: pointer;
  position: absolute;
  height: 3px;
  width: 25px;
  background-color: #2C7CAE;
  transition: .4s;
}

.hamburgerLine::before {
  content: '';
  top: -7px;
}

.hamburgerLine::after {
  content: '';
  top: 7px;
}

.hamburgerLine.openBurger {
  width: 0;
}

.hamburgerLine.openBurger::before {
  transform: rotate(45deg);
  top: 0;
}

.hamburgerLine.openBurger::after {
  transform: rotate(-45deg);
  top: 0;
}

.links {
  margin: 1rem 0.5rem;
  transform: translateY(-20px);
  color: #2C7CAE !important;
}

.links:hover {
  color: #DA6547 !important;
}

.navLinks {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  left: -110%;
  top: 68px;
  width: 100vw;
  height: 90vh;
  margin-left: 0;
  font-weight: bold;
  font-size: 1rem;
  z-index: 2000;
  transition: .5s;
  background-color: #f4f4f4 !important;
}

.navLinks.slideIn {
  left: 0;
  opacity: 1;
}

.active {
  color: #DA6547 !important;
}

.img {
  width: 100%;
}

.cartNumber {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-size: .6rem;
  font-weight: bold;
  border-radius: 50%;
  border: 1px solid #f4f4f4;
  color: #eee;
  position: absolute;
  left: -6px;
  top: -6px;
  width: 19px;
  height: 19px;
  background-color: #337aa7;
  /* background-color: #8b8b8b; */
  /* background: linear-gradient(183deg, rgb(110, 175, 212) 0%, rgb(17, 128, 192) 100%); */
  /* box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.08),
              inset 1px 1px 1px rgba(255, 255, 255, 0.144); */
}

.cartNumSpan {
  position: relative;
  top: 1px;
}

/* .cartNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  font-weight: bold;
  color: rgb(128, 128, 128);
  position: absolute;
  left: 2px;
  top: -9px;
  width: 17px;
  height: 16px;
} */

@keyframes updateAnimation {
  0% {
    /* transform: scale(1); */
    /* top: -12px;
    width: 17px;
    height: 16px; */
  }
  50% {
    -webkit-backface-visibility: hidden;
    transform: scale(1.2);
    /* top: -13px;
    width: 19px;
    height: 18px; */
  }
  100% {
    /* transform: scale(1); */
    /* top: -12px;
    width: 17px;
    height: 16px; */
  }
}

.cartUpdate {
  animation-name: updateAnimation;
  animation-duration: .4s;
}

.leftWrapper {
  position: relative;
  cursor: pointer;
  left: 50%;
  transform: translateX(-57%);
  width: 50%;
  max-width: 220px;
  display: flex;
  align-items: center;
}

.infoBar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #2C7CAE;
  height: 15px;
  color: #E9f2f4 !important;
}

.cartShadow {
  position: absolute;
  pointer-events: none;
  top: 100px;
  left: -1rem;
  width: 120%;
  height: 40vh;
  opacity: .5;
  background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0, 0, 0, 0.295) 50%);
}

.iconsWrapper {
  display: flex;
  align-items: center;
  /* width: 60px; */
  width: 30px;
  justify-content: space-between;
  margin-left: auto;
}

.cartIconWrapper {
  position: relative;
  /* Change back to 47% when member page icon is added again */
  /* width: 47%; */
  width: 100%;
  cursor: pointer;
}

/* .cartMoveDown {
  transition: .5s;
  transform: translateY(3px);
} */

.cartIcon:active {
  transform: scale(1.05);
}

.rrrrlogoImg {
  position: relative;
  display: inline-block;
  margin-right: .5rem;
  height: 100%;
  width: 37%;
}

.rrrrlogoText {
  position: relative;
  display: inline-block;
  margin-right: .5rem;
  height: 100%;
  width: 60%;
}

.acctContact {
  position: relative;
  width: 39%;
}

.acctContactImg {
  width: 100%;
}

@media screen and (min-width: 500px) {
  .navbar {
    padding: .7rem 1rem;
    max-height: 80px;
  }

  .cartNumber {
    font-size: .7rem;
    left: -6px;
    top: -8px;
    width: 20px;
    height: 20px;
  }

  .cartShadow {
    display: none;
  }

  .navLinks {
    display:initial;
    background-color: initial;
    height: initial;
    width: initial;
    position: initial;
    transform: initial;
    transition: initial;
    font-weight: bold;
    margin-left: 1.3rem;
    font-size: 1rem;
  }

  .leftWrapper {
    width: 90px;
    padding: 0;
    margin: 0;
    margin-left: .1rem;
    left: 0;
    transform: initial;
    display: flex;
    flex-direction: column;
  }

  .rrrrlogoText {
    width: 100%;
    margin-top: .3rem;
    margin-right: 0;
  }

  .rrrrlogoImg {
    width: 80%;
  }
  
  .hamburgerWrapper {
    display: none;
  }

  .hamburgerClickBox {
    display: none;
  }

  .iconsWrapper {
    /* Bring back to 70 with member icon */
    /* width: 70px; */
    width: 37px;
  }
}

@media screen and (min-width: 650px) {
  .leftWrapper {
    width: 105px;
  }

  .navLinks {
    margin-left: 1.5rem;
  }
}

