.noPurchases {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.noPurchases div {
  margin: 2rem 1rem;
  max-width: 400px;
}
.noPurchases img {
    max-width: 80px;
    margin-bottom: .5rem;
}
.noPurchases button {
    font-weight: 500;
    color: white;
    background-color: #2C7CAE;
    transform: translateY(-50%);
    margin: 2rem 1rem 0;
}
.noPurchases button:hover {
    color: white;
    background-color:#295276;
}