.orderWrapper {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px #d2d2d2;
 
}

.orderInfo {
    display: flex;
    justify-content: space-between;
}

.orderTotal {
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
}

.containerCarWrapper {
    /* background-color: powderblue; */
    /* width: 400px; */
    margin-bottom: 20px;
}

.profileCarWrapper {
    min-width: 400px;
    padding: 10px 5px 10px 5px;
    margin-left: 10;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #d4d4d4;
}

.gridItem1 {
    background-color: peachpuff;
    margin-top: 0px;
    grid-row: 1 / span 2;
}

.gridItem2 {
    padding-left: 10px;
    background-color: pink;
}

.gridItem3 {
    padding-left: 10px;
    background-color: lightblue; 
}

.gridItem4 {
    padding-left: 10px;
    /* background-color: lightblue; */
    grid-row: 2;
    grid-column: 2;
}

.gridItem5 {
    padding-left: 10px;
    /* background-color: bisque; */
    grid-row: 2;
    grid-column: 3;
}

.profileCarHeading {
    margin-top: 20px;
    margin-bottom: 20px;
   
}

.profileCarSubHeading {
    color: #2C7CAE !important;
    font-size: .9rem;
    margin-bottom: 5px;
}

.profileImage {
    height: 50px;
    width: 100px;
    border-radius: 5px;
    
}

.profileText {
    font-size: 0.9rem;
    margin-bottom: 0;
}

.orderTotalText {
    margin-top: 5px;
}

.infoButton {
    background: #2C7CAE !important;
    color: #ffffff !important;
    border: none;
    margin-left: 10px;
    height: 35px;
}

.infoButton:hover {
    background: #295276 !important;
    color: #ffffff !important;
    border: none;
}