.containerCarWrapper {
    /* background-color: powderblue; */
    width: 400px;
    margin-bottom: 20px;
}

.profileCarWrapper {
    width: 600px;
    margin: 0 auto;
    background-color: #f4f4f4 !important;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #d2d2d2;
    padding: 20px 0 15px 30px;
}

.profileCarHeading {
    color: #2C7CAE;
    font-size: 1.8rem;
    margin-top: 15px;
    margin-bottom: 20px;
    font-weight: 400;
}

.profileCarSubHeading {
    color: #2C7CAE;
    font-size: 1rem;
    margin-top: 7px;
    margin-bottom: 5px;
}

.profileImage {
    height: 20%;
    width: 20%;
    border-radius: 5px;
    display: block;
}