.shadow{
    filter: drop-shadow( 2px 2px 2px black);
}

.cls-1 {
    fill: url(#grad);
}

.cls-2 {
    font-size: 11.37px;
    fill: #fff;
    font-family: CooperBlackStd, Cooper Std;
    text-shadow: 2px 2px black;
}