.search {
    background: #f4f4f4;
    border-radius: 0 0 5px 5px;
}
.input {
    text-align: center;
    padding: .5rem;
}
.search .searchInput {
    border: none; 
    border: solid darkgrey 1px; 
    border-radius: .25em;
    padding: .5rem;
    padding-left: 1rem;
    width: 50%;
    outline: none;
}
.search .searchInput:focus {
    outline: 1.5px solid #2C7CAE;
    -moz-outline-radius: .3em;

}
.search .searchIcon {
    background: none;
    border: none;
    height: 40px;
    margin: 1rem;
}
.search img {
    height: 35px;
}
.search .clearSearch {
    margin: 1rem auto 2rem;
    color: white;
    background-color: #2C7CAE; 
}
.dropDown {
    padding: 0 3rem 1rem;
}

/*  Filter button arrow */
 .arrowUp, .arrowDown {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .7rem;
 }
 .arrowUp {
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-bottom: .5rem solid #303030;
 }
 .arrowDown {
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-top: .5rem solid #303030;
 }
 /* Custom selects */
 .search label {
    margin: 1rem .5rem .3rem;
  }
.selectWrapper {
    width: 40ch;
    margin: auto;
}

.sliderColumn {
    padding: 1rem;
}

.sliderColumn label {
    margin-bottom: .5rem;
  }

/*  custom range slider  */
.slideContainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 1rem;
    background: #2c7cae7a;
    border-radius: 3px;   
    outline: none;
    overflow: hidden;
    /* border: 1px solid darkgrey; */
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: .75rem;
    height: .75rem;
    border-radius: 3px; 
    background: #2C7CAE;
    cursor: pointer;
    border: #f4f4f4 2px solid;
    box-shadow: -180px 0 0 175px #2c7cae7a;
    
  }
  
  .slider::-moz-range-thumb {
    width: .75rem;
    height: .75rem;
    border-radius: 3px;
    background: #fff;
    cursor: pointer;
    border: #2C7CAE 2px solid;
    box-shadow: -180px 0 0 175px #2c7cae;
    
  }
