.search {
    background: #f4f4f4;
    border-radius: 0 0 5px 5px;
}
.input {
    text-align: center;
    padding: .5rem;
}
.search input {
    border: none; 
    border: solid darkgrey 1px; 
    border-radius: .25em;
    padding: .5rem;
    padding-left: 1rem;
    width: 50%;
    outline: none;
}
.search input:focus {
    outline: 1.5px solid #2C7CAE;
    -moz-outline-radius: .3em;

}
.search .searchIcon {
    background: none;
    border: none;
    height: 40px;
    margin: 1rem;
}
.search img {
    height: 35px;
}
.search .clearSearch {
    margin: 1rem auto 2rem;
    color: white;
    background-color: #2C7CAE; 
}
.dropDown {
    padding: 0 2rem 2rem;
}

/*  Filter button arrow */
 .arrowUp, .arrowDown {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .7rem;
 }
 .arrowUp {
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-bottom: .5rem solid #303030;
 }
 .arrowDown {
    border-left: .5rem solid transparent;
    border-right: .5rem solid transparent;
    border-top: .5rem solid #303030;
 }
 /* Custom selects */
 .selects label {
    margin: 1rem .5rem .3rem;
  }
.selectWrapper {
    width: 40ch;
    margin: auto;
}