.input {
    text-align: center;
}
.search input {
    border: solid darkgrey 2px; 
    border-radius: 1rem;
    padding: .5rem;
    width: 50%;
}
.search button {
    background: none;
    border: none;
    height: 40px;
    margin: 1rem;
}
.search img {
    height: 35px;
}

.search {
    text-align: center;
}

.search .clearSearch {
    background: initial;
    border: 1px solid black;
    border-radius: 5px;
    padding: .2rem .5rem;
    background-color: rgb(245, 243, 243);
}