.testPageWrapper {
  max-width: 600px;
  margin: 1rem auto;
  border: 1px solid black;
  padding: 1rem;

}

.carCard {
  display: flex;
  align-items: center;
  margin-bottom: .5rem;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.24);
  padding: .5rem;
  background-color: rgb(224, 232, 235);
  cursor: pointer;
}

.carCard * {
  margin: 0;
  margin-right: .4rem;  
}

.addToCartBtn {
  cursor: pointer;
  border: none;
  background-color: rgb(146, 185, 206);
  padding: .2rem;
  border-radius: 5px;
  margin-left: auto;
}

.addToCartBtn:hover {
  background-color: rgb(123, 157, 175);
}

.imgContainer {
  width: 80px;
  margin-right: .6rem;
}

.imgContainer img {
  width: 100%;
}