@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

html {
  overflow-y: scroll;
}

body {
  padding-top: 85px;
  font-family: 'Quicksand', sans-serif;;
}

p {
  color: #303030 !important;
}

.site-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 .5rem;
}

/* .carousel {
  margin-top: 1rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.527);
}

.carousel .carousel-item {
  height: 350px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    left: 0;
    top: -150px;
    min-height: 350px;
} */


/*  Remove default styling of select element  */
*::before, *::after {
  box-sizing: border-box;
}
select {
appearance: none;
background-color: transparent;
border: none;
padding: 0 1rem 0 1rem;
margin: 0;
width: 100%;
font-family: inherit;
font-size: inherit;
cursor: inherit;
line-height: inherit;
outline: none;
}

/*   New styling to Select  */
.customSelect {
  width: 100%;
  min-width: 15ch;
  padding: .25rem;
  border-radius: 0.25em;
  cursor: pointer;
  background-color: #fff;
  border: solid darkgrey 1px; 
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
}

/*  Custom select-arrow  */
.customSelect::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: #303030;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
  margin-right: 1rem;
}
select,
.customSelect:after {
    grid-area: select;
}

/*  Select focus state  */
select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid #2C7CAE;
  border-radius: inherit;
}

@media screen and (min-width: 500px) {
  body {
    padding-top: 100px;
  }
}

@media screen and (min-width: 650px) {
  body {
    padding-top: 110px;
  }
}

