@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  padding-top: 120px;
}

p {
  color: #303030 !important;
}

.site-container {
  max-width: 900px;
  margin: 0 auto;
}


